@import "../abstracts/variables";
@import "../abstracts/mixins";

.networks {
    @include flex-gap(row,10px);
    align-self: center;
    // justify-content: center;

    @media (min-width: $bp-md) {
        align-self: flex-end;
    }
} 