@import "../abstracts/variables";
@import "../abstracts/mixins";


.footer {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 20px 30px;
    border-top: 1px solid $text-color-black;
    @media (min-width: $bp-md) {
      flex-direction: row;
      justify-content: space-between;
    }
    @media (min-width: $bp-lg) {
      padding: 25px 70px;
      max-width: 1290px;
    }
    .footer__copyright {
      color: #333;
      font-family: Gilroy;
      font-size: 14px;
      font-weight: 400;
      & span {
        font-family: Gilroy;
        font-weight: 700;
      }
    }
}

