@import "../abstracts/variables";
@import "../abstracts/mixins";

.works {
    background: $background-color-primary;
    padding: 30px 20px;
    width: 100%;

    @media (min-width: $bp-md) {
        padding: 30px;    
    }

    @media (min-width: $bp-lg) {
        padding: 70px 70px 100px;
    }
}

.works__title {
    margin-bottom: 30px;
    color: $text-color-primary;
    text-align: center;
    font-family: $font-style-primary;
    font-size: 50px;
    font-weight: 300;
    letter-spacing: 3.2px;
    text-transform: uppercase;

    @media (min-width: 450px) {
        font-size: 80px;
    }

    @media (min-width: $bp-md) {
        color: #252525;
        font-size: 150px;
        letter-spacing: 6px;
    }

    @media (min-width: $bp-lg) {
        font-size: 212px;
        letter-spacing: 8.48px;
        margin-bottom: 50px;
    }
}

.works-wrapper {
    @include flex-gap(column,40px);

    @media (min-width: $bp-md){
        @include flex-gap(column,70px);
    }
}

.collection {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;

    @media (min-width: $bp-md) {
        gap: 30px;    
    }

    @media (min-width: $bp-lg) {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 40px;
    }
}

.collection__image {
    width: 100%;
    height: 417px;
    object-fit: cover;

    @media (min-width: $bp-md) {
        height: 921px; 
    }

    @media (min-width: $bp-lg) {
        height: 317px;
        width: 317px; 
    }

    @media (min-width: 1300px) {
        height: 417px;
        width: 417px; 
    }
}

.card {
    @include flex-gap(column,30px);

    @media (min-width: $bp-lg) {
        @include flex-gap(column,unset);
        justify-content: space-between;

        grid-row: 1 / span 1;
    }
}

.card__text-wrapper {
    @include flex-gap(column,20px);

    @media (min-width: $bp-md) {
        @include flex-gap(column,30px);
    }
}

.card__title {
    color: $text-color-black;
    font-family: Gilroy;
    font-size: 35px;
    font-weight: 800;
    text-transform: uppercase;

    @media (min-width: $bp-md) {
        font-size: 40px;
        line-height: 44px; 
    }
}

.card-navigation__list {
    @include flex-gap(row,30px);
}

.card-navigation__item{
    padding: 15px 30px;
    border-radius: 50px;
    background: $text-color-white;
}

.card-navigation__link {
    color: $text-color-primary;
    font-family: Gilroy;
    font-size: 18px;
    font-weight: 400; 
}

.card__link {
    padding: 16px 61px 16px 30px;
    border-radius: 50px;
    background: #252525;
    color: $text-color-white;
    font-family: Gilroy;
    font-size: 18px;
    font-weight: 400;
    text-transform: capitalize;
    width: 102px;
    position: relative;
    width: fit-content;
    align-self: flex-end;

    &::after {
        content: '';
        background-image: url("../../img/logos/arrow-right.svg");
        background-repeat: no-repeat;
        width: 25px;
        height: 16px;
        position: absolute;
        top: 17px;
        right: 25px;
    }
}

.works__link {
    color: $text-color-primary;
    font-family: Gilroy;
    font-size: 18px;
    font-weight: 400;
    border-radius: 50px;
    background: #FFF;
    padding: 15px 135px;
    align-self: center;
    
    @media (min-width: $bp-md) {
        padding: 15px 60px;
    }
}

