

@font-face {
    font-family: Gilroy;
    src: url(../../fonts/Gilroy-Light.ttf) format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: Gilroy;
    src: url(../../fonts/Gilroy-Medium.ttf) format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: Gilroy;
    src: url(../../fonts/Gilroy-SemiBold.ttf) format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: Gilroy;
    src: url(../../fonts/Gilroy-Bold.ttf) format('truetype');
    font-weight: 800;
}