// breakpoints

$bp-md: 768px;
$bp-lg: 1200px;



// colors

$background-color-primary: #f5f3ea;
$background-color-about-me-section: #252525;
$background-color-white: #fff;

$text-color-primary: #252525;
$text-color-black: #000;
$text-color-white: #fff;
$text-color-member-card: #333;


// font family

$font-style-primary: Gilroy;
$font-style-secondary: Inter;

